.card{

   
    position: relative;
    margin: 25px 30px 10px 380px;
    text-align: center;
    
    
}

.top{
    background-color: #00cec9;
    text-align: left;
    padding: 10px 80px 10px 15px;
    height: 55px;
    width: 270px;
    border-radius: 25px 25px 0 0;
    display: flex;
    
}

.bottom{
    background-color: #81ecec;
    text-align: left;
    height: 120px;
    width: 350px;
    border-radius: 0 0 25px 25px;
    padding: 5px 10px 5px 5px;
    margin: 0px auto 0px 0px;

}

.circle-img{
    border-radius: 70px;
    height: 100px;
    width: 100px;
    border: 5px solid #f5eeee;
    
    position: absolute;
    margin: 10px 50px 0px 200px;


}

.heading{
    text-align: center;
    color: rgb(84, 85, 87);
    padding: 35px 0px 15px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    

}

p{
    margin: 20px 0 0 10px;
    color: #1a7e76;
}

h2{
    color: rgb(18, 57, 69);
    text-shadow: 20px;
}